*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    height: 50vh;
    padding: 10px;
}

.box{
    width: 45%;
    background-color: #f5f5f5;
    border-radius: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.box textarea{
    background-color: transparent;
    height: 80%;
    width: 95%;
    max-width: 95%;
    font-size: 20px;
    padding:5px;
    border-radius: 10px;
    outline: 1px solid #f5f5f5;
    overflow-y: auto;
}

.translate-text{
    border: 1px solid #f5f5f5;
    text-decoration: none;
    display: flex;
    align-items: top;
    justify-content: left;
    text-align: start;
    height: 80%;
    width: 95%;
    font-size: 30px;
}

select{
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    background-color: #e1e1e1;
    margin: 5px;
}

button{
    padding: 5px;
    border: none;
    outline: none;
    background-color: #e1e1e1;
    border-radius: 5px;
    transition: 0.2s ease;
}

button:hover{
    background-color: #c3c3c3;
}

p{
    margin: 10px;
    font-weight: bold;
}